@page "/Auction"

<div class="mx-80 mt-16">
    <div class="flex flex-row gap-16">
        <div class="flex flex-col">
            <img src="https://placehold.co/300"/>
            <div class="flex flex-row gap-4 mt-4">
                <img src="https://placehold.co/300"/>
                <img src="https://placehold.co/300"/>
            </div>
        </div>
        <div class="mt-8">
            <h2 class="text-6xl font-bold">Product</h2>
            <div class="mt-8 py-4 px-16 rounded-lg border-2">
                <div class="text-6xl font-semibold text-center  ">$$$.$$€</div>
            </div>
            <div class="mt-2 text-md font-regular">Increments: $$$.$$€</div>
            <div class="mt-64 flex flex-row">
                <PrimaryButton Title="Bid"/>
                <input class="border-2 py-2 px-4 mx-2 border-black rounded-sm w-full">  
            </div>
        </div>

    </div>

</div>

@code {

    class Bids
    {
        public string name;
        public int id;
        public int current_bid;
        public string current_bidder;
        public int starting_price;
        public DateTime starting_time;
    }

    private bool _hasFinished = false;

}