@page "/"

<PageTitle>Leilart</PageTitle>
    
    <div class="grid grid-cols-2 gap-8">
        <div class="mx-8 my-64">
            <img src="assets/images/leilart.svg" class="h-16 py-1" alt="Leilart" />
            <div class="my-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rutrum aliquet nisl non varius. Maecenas sodales nisl nunc, non porttitor erat hendrerit vel. Ut ac sodales nisl. Ut semper vitae purus quis rutrum. Suspendisse potenti. Maecenas ac tempor sapien. Nunc pretium dui velit, vel suscipit risus dignissim non. Duis id pretium ex, in posuere eros. Praesent pellentesque dui ac arcu posuere aliquet.
            </div>
            <div class="my-8 flex gap-x-4">
                <PrimaryButton Title="Bid"/>
                <PrimaryButton Title="Learn More" CustomStyle="bg-black text-white" />
            </div>
        </div>
        <div>
            <div>
                <div class="flex flex-row gap-8 overflow-hidden flex-nowrap my-2">
                    <img src="https://placehold.co/300"/>
                    <img src="https://placehold.co/300"/>
                    <img src="https://placehold.co/300"/>
                </div>
                <div class="flex flex-row-reverse gap-8 overflow-hidden my-2">
                    <img src="https://placehold.co/300"/>
                    <img src="https://placehold.co/300"/>
                    <img src="https://placehold.co/300"/>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="flex justify-center">
            <h6 class="font-bold">Auctions</h6>
        </div>
        <div class="mt-4 flex justify-center">
            <h1 class="text-6xl font-bold">Current Bidding's</h1>
        </div>
        <div class="mt-8 flex justify-center">
            <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rutrum aliquet nisl non varius.</h6>
        </div>
        <!--tenho que dar fix disto depos> Substituir isto por biddings mesmo em vez de imagens </--> 
        <div class="mx-32 my-16">
            <div class="flex flex-row gap-8">
                <div class="w-full flex flex-col gap-4">
                    <div class="border-slate-300 border-2 rounded-lg flex flex-row gap-2 mt-1">
                        <div>
                            <img src="https://placehold.co/300"/>
                        </div>
                        <div class="m-4">
                            <h4 class="text-2xl font-bold">Mona Lisa</h4>
                            <h4 class="text-l font-regular">Leonardo Da Vinci</h4>
                            <div class="flex flex-row mt-32 gap-4">
                                <a href="/auction">
                                   <PrimaryButton Title="Bid" CustomStyle="bg-black text-white"/> 
                                </a>
                                <PrimaryButton Title="See More"/>
                            </div>
                        </div>
                    </div>
                    <div class="border-slate-300 border-2 rounded-lg flex flex-row gap-2 mt-1">
                        <div>
                            <img src="https://placehold.co/300"/>
                        </div>
                        <div class="m-4">
                            <h4 class="text-2xl font-bold">Mona Lisa</h4>
                            <h4 class="text-l font-regular">Leonardo Da Vinci</h4>
                            <div class="flex flex-row mt-32 gap-4">
                                <PrimaryButton Title="Bid" CustomStyle="bg-black text-white"/>
                                <PrimaryButton Title="See More"/>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="w-full border-slate-300 border-2 rounded-lg flex flex-col gap-2 ">
                    <div class="justify-items-stretch">
                        <img class="justify-stretch" src="https://placehold.co/300"/>
                    </div>
                    <div class="m-4">
                        <h4 class="text-2xl font-bold">Mona Lisa</h4>
                        <h4 class="text-l font-regular">Leonardo Da Vinci</h4>
                        <div class="flex flex-row mt-32 gap-4">
                            <PrimaryButton Title="Bid" CustomStyle="bg-black text-white"/>
                            <PrimaryButton Title="See More"/>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="mx-32 mt-32">
        <div class="mt-4 flex justify-center">
            <h1 class="text-6xl font-bold">Testimonals</h1>
        </div>
        <div class="mt-8 flex justify-center">
            <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rutrum aliquet nisl non varius.</h6>
        </div>
        <div class="my-16 grid grid-cols-3 gap-8">
            <div class="w-full border-2 border-slate-300 rounded-xl p-4">
                <div>Stars</div>
                <p class="mt-4 text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rutrum aliquet nisl non varius. Maecenas sodales nisl nunc, non porttitor erat hendrerit vel. Ut ac sodales nisl. Ut semper vitae purus quis rutrum. Suspendisse potenti. Maecenas ac tempor sapien. Nunc pretium dui velit, vel suscipit risus dignissim non. Duis id pretium ex, in posuere eros. Praesent pellentesque dui ac arcu posuere aliquet.
                </p>
            </div>
            <div class="w-full border-2 border-slate-300 rounded-xl p-4">
                <div>Stars</div>
                <p class="mt-4 text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rutrum aliquet nisl non varius. Maecenas sodales nisl nunc, non porttitor erat hendrerit vel. Ut ac sodales nisl. Ut semper vitae purus quis rutrum. Suspendisse potenti. Maecenas ac tempor sapien. Nunc pretium dui velit, vel suscipit risus dignissim non. Duis id pretium ex, in posuere eros. Praesent pellentesque dui ac arcu posuere aliquet.
                </p>
            </div>
            <div class="w-full border-2 border-slate-300 rounded-xl p-4">
                <div>Stars</div>
                <p class="mt-4 text-justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rutrum aliquet nisl non varius. Maecenas sodales nisl nunc, non porttitor erat hendrerit vel. Ut ac sodales nisl. Ut semper vitae purus quis rutrum. Suspendisse potenti. Maecenas ac tempor sapien. Nunc pretium dui velit, vel suscipit risus dignissim non. Duis id pretium ex, in posuere eros. Praesent pellentesque dui ac arcu posuere aliquet.
                </p>
            </div>
        </div> 
    </div>

