@page "/"

<PageTitle>Leilart</PageTitle>

<div class="mt-16 px-20">
    <div class="grid grid-cols-2 gap-8">
        <div class="mx-8 my-64">
            <img src="assets/images/leilart.svg" class="h-16 py-1" alt="Leilart" />
            <div class="my-4">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rutrum aliquet nisl non varius. Maecenas sodales nisl nunc, non porttitor erat hendrerit vel. Ut ac sodales nisl. Ut semper vitae purus quis rutrum. Suspendisse potenti. Maecenas ac tempor sapien. Nunc pretium dui velit, vel suscipit risus dignissim non. Duis id pretium ex, in posuere eros. Praesent pellentesque dui ac arcu posuere aliquet.
            </div>
            <div class="my-8 flex gap-x-4">
                <PrimaryButton Title="Bid"/>
                <PrimaryButton Title="Learn More" CustomStyle="bg-black text-white" />
            </div>
        </div>
        <div>
            <div>
                <div class="flex flex-row gap-8 overflow-hidden flex-nowrap my-2">
                    <img src="https://placehold.co/300"/>
                    <img src="https://placehold.co/300"/>
                    <img src="https://placehold.co/300"/>
                </div>
                <div class="flex flex-row-reverse gap-8 overflow-hidden my-2">
                    <img src="https://placehold.co/300"/>
                    <img src="https://placehold.co/300"/>
                    <img src="https://placehold.co/300"/>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div class="flex justify-center">
            <h6 class="font-bold">Auctions</h6>
        </div>
        <div class="mt-4 flex justify-center">
            <h1 class="text-6xl font-bold">Current Bidding's</h1>
        </div>
        <div class="mt-8 flex justify-center">
            <h6>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse rutrum aliquet nisl non varius.</h6>
        </div>
        <!--tenho que dar fix disto depos> Substituir isto por biddings mesmo em vez de imagens </--> 
        <div>
            <div class="grid grid-row-4 grid-flow-col gap-8">
                <img class="row-span-2" src="https://placehold.co/300"/>
                <img src="https://placehold.co/300"/>
                <img src="https://placehold.co/300"/>
            </div>
        </div>
        
        <!--Falta os testemunho aqui> </--> 
    </div>
       
</div>
