@page "/user"
@using Leilart.Components.Layout
@layout MainLayout


<div class="mt-16 mx-32">
    <div class="flex flex-row">
        <div class="rounded-full overflow-hidden">
            <img src="https://placehold.co/100"/>
        </div>
        <div class="mx-8 mt-4 ">
            <div class="flex flex-row">
                <div>
                    <div class="text-3xl font-semibold">
                        Username
                    </div>
                    <div class="text-lg font-regular">
                        email@email.pt
                    </div>
                    
                </div>
                <a class="mx-64">
                    <PrimaryButton Title="Edit"></PrimaryButton>
                </a>
            </div>
        </div>
    </div>
    <div class="py-8">
        <div class="text-sm font-regular my-2" >Auctions</div>
        <div class="text-3xl font-bold">In Progress</div>
        <div class="grid grid-cols-4 gap-8 pt-12 relative">
            @foreach (Product product in _products)
            {
                <div class="relative items-center">
                    <img src="https://placehold.co/300"/>
                    <h2 class="font-semibold">@product.name</h2>
                    <h3>@product.variant</h3>
                    <h2 class="font-semibold text-xl">$@product.price</h2>
                </div>
            }
        </div>
    </div>
    <div class="py-8">
            <div class="text-sm font-regular my-2" >Auctions</div>
            <div class="text-3xl font-bold">Won</div>
            <div class="grid grid-cols-4 gap-8 pt-12 relative">
                @foreach (Product product in _products)
                {
                    <div class="relative items-center">
                        <img src="https://placehold.co/300"/>
                        <h2 class="font-semibold">@product.name</h2>
                        <h3>@product.variant</h3>
                        <h2 class="font-semibold text-xl">$@product.price</h2>
                    </div>
                }
            </div>
        </div>
</div>

@code {
    class Product
    {
        public string name;
        public string variant;
        public int price;
        public string photo_url;
    }
    
    private List<Product> _products = new List<Product>();
    private bool _hasLoadedData = true;
    
    protected override async Task OnInitializedAsync()
    {
        for (int i = 0; i < 4; i++)
        {
            _products.Add(new Product(){name = "Product name", price = 10, variant = "Variant"});
        }
    }
    
}