@page "/login"

@using BlazorLeilart.Data.Interfaces.Users
@using System.ComponentModel.DataAnnotations
@using System.Text.RegularExpressions
@using BlazorLeilart.Authentication
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService localStore
@inject Data.Interfaces.IUser usertable
@layout LoginLayout

<div class="flex flex-row">
    <div class="w-full mt-16 mx-16">
        <img src="images/leilart.svg"/>
        <div class="my-64 justify-items-center">
            <div class="w-1/2">
                <h4 class="text-2xl font-semibold my-4">Login</h4>
                <div class="font-regular">Email</div>
                <input @bind="email" class="border-2 py-2 px-4 border-black rounded-sm w-full"/>
                <div class="font-regular">Password</div>
                <input @bind="password" type="password" class="border-2 py-2 px-4 border-black rounded-sm w-full"/>
            </div>
            <div class="mt-8" @onclick="LoginFunc">
                <PrimaryButton Title="Login" CustomStyle="text-white bg-black"></PrimaryButton>
            </div>
            @if (error != "")
            {
                <p class="text-md text-red-500">@error</p>
            }
            <div class="mt-1">
                <p>Don't have an Account?</p> 
                <a href="/signup">Sign Up</a>
            </div>
        </div>
    </div>
    
    <div class="w-full justify-items-stretch">
        <img src="https://placehold.co/1000"/>
    </div>
</div>

@code {

    
    private string error = "";
    

    [Required] public string email = "";
    [Required] public string password = "";
        

    public async Task<bool> IsValidEmail(string email)
    {
        // Check if the email is empty or null
        if (string.IsNullOrWhiteSpace(email))
            return false;
    
        // Define a regular expression pattern for basic email validation
        string pattern = @"^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$";
        bool isEmailValid = Regex.IsMatch(email, pattern);
    
        // If the email format is not valid, return false
        if (!isEmailValid)
            return false;
        
        // Check if the email already exists in the database
        int count = await usertable.ContainsKeyAsync(email);
        
        // If the count is greater than 0, the email already exists
        return count == 0;
        
    }

    public async Task<bool> IsValidPassword(string password)
    {
        return password != null && password != "" && password.Length > 0;
    }
    
    string sessionValue = "";
    
    protected override async Task OnInitializedAsync()
    {
        sessionValue = await localStore.GetItemAsync<string>("session");
    }

    private async Task LoginFunc()
    {
        bool validity = await IsValidEmail(this.email) && await IsValidPassword(this.password);
        if (!validity)
        {
            TokenSession session = null;
            User user = await usertable.GetUserByEmailAsync(email);
            string userPassword = user.Password; 

            if (TokenSession.Base64Encode(password) == userPassword)
            {
                session = new TokenSession(user.Email);
                string token = session.getToken();
                await localStore.SetItemAsync("session", token);
                
                Task.Delay(1000);
                NavigationManager.NavigateTo("/");
            }
        }
        else
        {
            if (await IsValidEmail(email)) error = "Invalid Email";
            if (await IsValidPassword(password)) error = "Invalid Password";
        }

    } 
            
    }
    
    
}