@page "/admin/auctions"

@inject Data.Interfaces.IAuction auctionbd;
@layout AdminLayout

<div class="w-full px-16 pt-14">
    <div class="py-8">
        <div class="flex flex row gap-8 justify-items-center">
            <div>
                <div class="text-sm font-regular my-2">Auctions</div>
                <div class="text-3xl font-bold">On going</div>
            </div>
            <a href="/admin/auction/create" class="mt-4"><PrimaryButton Title="Create Auction"></PrimaryButton></a>
        </div>
        
        <div class="grid grid-cols-4 gap-8 pt-12 relative">
            @if (_auctions != null)
            {
                @foreach (Auction a in _auctions)
                {
                    @if (a.status && a != null)
                    {
                        <a href="/auction/@a.id">
                            <div class="relative items-center">
                                @if (a.Product != null)
                                {
                                    <img src="@a.Product.url"/>
                                    <h2 class="font-semibold text-xl">@a.Product.name</h2>
                                }
                                else
                                {
                                    <p>No product available</p>
                                }

                                @if (a.Bids.Count != 0)
                                {
                                    <h2 class="font-semibold"> Current Value: $@a.Bids.Last().value</h2>
                                }
                                else
                                {
                                    <h2 class="font-semibold"> Starting Value: $@a.initial_value</h2>
                                }

                            </div>
                        </a>
                    }
                }
            }
        </div>
    </div>
    @if (_finished.Count != 0)
    {
        <div class="py-8">
            <div class="text-sm font-regular my-2">Auctions</div>
            <div class="text-3xl font-bold">Recently Finished</div>
            <div class="grid grid-cols-4 gap-8 pt-12 relative">

                @foreach (Auction a in _finished)
                {
                    @if (!a.status && a != null)
                    {
                        <a href="/auction/@a.id">
                            <div class="relative items-center">
                                @if (a.Product != null)
                                {
                                    <img src="@a.Product.url"/>
                                    <h2 class="font-semibold text-xl">@a.Product.name</h2>
                                }
                                else
                                {
                                    <p>No product available</p>
                                }

                                @if (a.Bids.Count != 0)
                                {
                                    <h2 class="font-semibold"> Current Value: $@a.Bids.Last().value</h2>
                                }
                                else
                                {
                                    <h2 class="font-semibold"> Starting Value: $@a.initial_value</h2>
                                }

                            </div>
                        </a>
                    }
                }
            </div>
        </div>
    }
</div>


@code {
    
    private List<Auction> _auctions = null;
    private List<Auction> _finished = new List<Auction>();
    private bool _hasLoadedData = false;
    
    protected override async Task OnInitializedAsync()
    {
        
        _auctions = await auctionbd.GetAuctionsByLastBidAsync();
        _finished = _auctions.Where(a => a.status == false).ToList();
        _auctions = _auctions.Where(a => a.status == true).ToList();
        
        Task.Delay(1000);
        _hasLoadedData = true;
    }

    public async Task MakeAdminFunc()
    {
        
    }
    
}