@inherits LayoutComponentBase

<AdminNavbar/>
<div class="page">
    <main>
        <div class="mt-16 px-20">
            @Body
        </div>
    </main>
</div>
<Footer/>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
